---
import { LanguageSwapButton } from "@pw/vue-components";
import { getTranslation } from "@pw/translate";


const translate = getTranslation(Astro.url);

const currentLanguage = Astro.cookies.get("language")?.value || "en"; // Default to "en" if cookie is not set
const targetLanguage = currentLanguage === "en" ? "tr" : "en";
---

<div>
  <LanguageSwapButton client:load targetLanguage={targetLanguage}>
    <pre>{translate('hello')}</pre>
  </LanguageSwapButton>
</div>
